{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "brace-style": [2, "1tbs"],
        "comma-style": [2, "last"],
        "indent": [2, 4, { "SwitchCase": 1 }]
    },
    "globals": {
        "require": false,
        "module": false
    }
}
